<ul>
<%cart.each do |product|%>
<li><%= product%></li>

<%end%>
</ul>

<%= form_tag ({controller: 'products', action: 'add', method: 'post'})%>

<label >Product</label>
<input name=product><br>

<input type=submit value='add to cart'>

<br>





